body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
    display: block;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}
.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}
div {
    display: block;
}
